/ColorPlugin1/build/
/PainterTestInterfaces/build/
/PainterTestInterfaces/dist/
/ColorPlugin2/build/
/ColorPlugin1/dist/
/ColorPlugin2/dist/
/PainterTest/build/
/ToolPlugin1/dist/
/ToolPlugin1/build/
/ToolPlugin2/dist/
/ToolPlugin2/build/
/PainterTest/dist/
/DrawToolboxPlugin/dist/
/DrawToolboxPlugin/build/
/ColorToolboxPlugin/build/
/ColorToolboxPlugin/dist/